body 
{


	background-color:#283618;  
	font-size:22px;         
	font-style:italic;
	color:#bc6c25;
	
}

div
{
	
	font-size:20px;
	color: #fefae0;
      
	font-style:normal;
	border:3px solid#bc6c25;
	

}


h2
{
	color:#dda15e;

}